<h1>Estadísticas Personalizadas</h1>

<p><strong>Indice de masa Corporal:</strong> <%= @.round(2) %> :</p>

<h2>Horas de Sueño Promedio</h2>
<%= bar_chart @sleep_comparison, colors: ["#F44336", "#4CAF50", "#FFC107"], height: "300px" %>

<h2>Nivel de Actividad Física</h2>
<%= pie_chart @activity_comparison, colors: ["#F44336", "#4CAF50"], height: "300px" %>

</p>
