<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Su correo se cambiará <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Su correo ha sido cambiado <%= @resource.email %>.</p>
<% end %>
