<p>Hello <%= @resource.email %>!</p>

<p>ha solicitado cambiar su contraseña. Continue en el siguiente enlace. </p>

<p><%= link_to 'Cambiar mi contraseña ', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Acceda.</p>
